@mixin flat-filterselect($primary-stylename: v-filterselect) {
  .#{$primary-stylename} {
    [class*="input"] {
      @include cuba-flat-input-style;
    }

    [class$="button"] {
      color: var(--text-color);
      border-left: 0;

      &:before {
        content: "\f0d7";
      }
    }

    &.v-readonly {
      [class*="input"] {
        background: var(--border-color);
      }

      &:focus {
        // TODO: gg, border-color?
      }
    }
  }

  .#{$primary-stylename}-suggestpopup {
    [class$="suggestmenu"] {
      @include box-shadow(none);

      border: 1px solid var(--border-color);
      color: var(--text-color);
    }

    .gwt-MenuItem-selected {
      background: var(--focus-color);
      text-shadow: none;
      border-radius: 0;
      //color: var(--primary-color);
    }
  }

  &.small {
    .#{$primary-stylename} {
      @include valo-combobox-style($unit-size: $v-unit-size--small, $bevel: null, $shadow: null, $gradient: null, $border: null, $border-radius: null, $background-color: null, $states: normal);
      font-size: $v-font-size--small;

      [class$="button"]:before {
        content: "\f0d7";
      }
    }

    .#{$primary-stylename}-suggestpopup {
      [class$="suggestmenu"] {
        font-size: $v-font-size--small;
        .gwt-MenuItem {
          height: $v-selection-item-height--small;
        }
      }
    }
  }

  &.large {
    .#{$primary-stylename} {
      @include valo-combobox-style($unit-size: $v-unit-size--large, $bevel: null, $shadow: null, $gradient: null, $border: null, $border-radius: null, $background-color: null, $states: normal);
      font-size: $v-font-size--large;

      [class$="button"]:before {
        content: "\f0d7";
      }
    }

    .#{$primary-stylename}-suggestpopup {
      [class$="suggestmenu"] {
        font-size: $v-font-size--large;
        .gwt-MenuItem {
          height: $v-selection-item-height--large;
        }
      }
    }
  }
}